.boxContainer{

    margin: auto;
    margin-top: 20%;
    position: relative;
    width: 500px;
    height: 42px;
    border: 4px solid #2980b9;
    padding: 0px 10px;
    border-radius:  50px;
}

.elementsContainer
{   
    width: 100%;
    height: 100%;
    vertical-align: middle;

}
.Search{

    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    font-family: "Nunito";
    color: #424242;
    font-weight: 500;
}

.Search:focus
{

    outline: none;
}
