.question {
    test-align : center;
    
}
.title{
    margin:3rem 0 2rem;
    font-size : 2rem;
    font-weight :700;
    color: #3f3f3f;
    text-align: center;
}
.container{
    
    margin: 0 auto;
    width:100%;
    border:1px solid #fff;
    padding:10px 0 30px 0;
    border-radius: 5px;
    margin-bottom : 50px;
}

.form-wrapper{
    width: 100%;
    margin:0 auto;
}
.title-input{
    width: 500px;
    outline: none;
    padding:0 0.375rem;
    line-height: 1rem;
    border:none;
    border-bottom: 1px solid #dedee6;
    border-radius: 0;
    transition: border-bottom-color .3s;
    height: 30px;
    margin : 12.5px;
    overflow: visible;
}

.text-area{
    box-sizing: content-box;
    width: 100%;
    resize: none;
    padding:0 0.375rem;
    border:none;
    border-bottom: 1px solid #dedee6;
    border-radius: 0;
    overflow: hidden;
    transition: border-bottom-color .3s;
    line-height: 1.75rem;
    padding-bottom: 100px;
    outline: none;
    display: block;
    height: 300px;
    direction: ltr;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    
}

.submit-button {
    width: 8rem;
    margin-top:50px;
    text-align: center;
    padding: 6px 12px;
    font-size : 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px!important;
    color:#fff;
    display:inline-block;
    border-color:#7e6ca8;
    background: #7e6ca8;
    box-sizing: border-box;
    transition: background 0.3s ;
    font-family:  'Noto Sans KR', sans-serif;
}
