.Footer {
  
    
    padding: 10px;
    border-top: 1px solid #c4c4c4fd;
    font-size: 11px;
    font-size: 12px;
    background-color:#f1f1f1;
    text-align: center;
    color:  #222;
    position: fixed;
    left :0; 
    width : 100%;
    bottom : 0;
    
}